/**
 * VARIABLES
 */
:root {
  --primary-color: #0C9AF2;
  --secondary-color: #0CB1F2;
  --tertiary-color: #F2C84B;
  --quarternary-color: #F24484;

  --body-color: #252525;
  --background-color: #FFF;

  --space-up: 1px;
  --space-down: -1px;
}


.kwa-keyboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.kwa-answer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 400px;
  margin: 0 auto;
  height: 40px;
}

.kwa-keyboard .kwa-keyboard-key,
.kwa-answer .kwa-keyboard-key {
  border: var(--body-color) solid 1px;
}

.kwa-keyboard .kwa-keyboard-key {
}

.kwa-keyboard-key {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
  margin: 0 1px;
}

.kwa-keyboard .kwa-keyboard-key-empty,
.kwa-answer .kwa-keyboard-key-empty {
  border-color: transparent;
  color: transparent;
}

.list-group-item {
  background: transparent;
}

/**
 * HOME
 */

.logo {
  width: 100px;
  transform: rotate(-10deg);
  animation: vibrate .5s none 0s infinite;
  margin: 0 0 0 auto;
}

.brand-name {
  font-family: QuickSand;
  font-size: 3em;
  list-style: none;
  display: inline-grid;
  grid-template-columns: repeat(10, .9em);
  padding: 0;
  color: var(--primary-color);
  top: -30px;
  position: relative;
  background-color: transparent;
}

.brand-name li {
  position: relative;
}
.brand-name li:nth-child(odd) {
  animation: spaceDown 2s ease-in-out 0s infinite alternate-reverse both;
  
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.brand-name li:nth-child(even) {
  animation: spaceUp 2s ease-in-out 0s infinite alternate-reverse both;
}

@keyframes spaceDown {
  0% {
    transform: translate(0, var(--space-up));
    text-shadow: 0px 2px 3px #AAA;
  }
  100% {
    transform: translate(0, var(--space-down));
    
  }
}
@keyframes spaceUp {
  0% {
    transform: translate(0, var(--space-down));
  }
  100% {
    transform: translate(0, var(--space-up));
    text-shadow: 0px 2px 3px #AAA;
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .brand-name {
    font-size: 2em;
  }
  .logo {
    width: 70px;
  }
  .player-presentation {
    width: 200px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}